# Игнорировать папку виртуальной среды
myenv/

# Игнорировать папку конфигурации PyCharm
.idea/

# Игнорировать файлы миграций
*/migrations/*.pyc

# Игнорировать файлы кэша
__pycache__/
*.pyc

# Игнорировать файлы базы данных SQLite
db.sqlite3
