<!-- category_list.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Категории - Форум ProffShina</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/category_list.css' %}">
</head>
    <div class="status-button">
        {% if user.is_authenticated %}
            Вы вошли в систему {{ request.user.first_name }} {{ request.user.last_name }}
        {% else %}
            Вы не аутентифицированы
        {% endif %}
    </div>
<body>
    <a href="{% url 'forum_home_page' %}" class="back-button">Назад на главную</a>
    <div class="container">
        <h2>Категории</h2>
        <ul class="category-list">
            {% for category in categories %}
                <li>
                    <a href="{% url 'thread_list' category.id %}" class="category-button">{{ category.name }}</a>
                    <p class="category-description">{{ category.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
