<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная - Форум ProffShina</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home_page_forum.css' %}">
</head>
<body>
    <div class="status-button" style="background-color: {% if user.is_authenticated %}green{% else %}red{% endif %};">
        {% if user.is_authenticated %}
            Вы вошли в систему {{ request.user.first_name }} {{ request.user.last_name }}
        {% else %}
            Вы не аутентифицированы
        {% endif %}
    </div>
    <a href="{% url 'home_page' %}" class="back-button">Покинуть форум</a>
    <div class="home-page">
        <h2>Добро пожаловать на форум ProffShina</h2>
        <p>Здесь вы можете обсудить различные темы и получить поддержку.</p>
        <ul>
            <li><a href="{% url 'category_list' %}">Выбрать категорию форума</a></li>
        </ul>
    </div>
</body>
</html>
