<!-- thread_list.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Темы - Форум ProffShina</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/thread_list.css' %}">
</head>
<body>
    <div class="status-button">
        {% if user.is_authenticated %}
            Вы вошли в систему {{ request.user.first_name }} {{ request.user.last_name }}
        {% else %}
            Вы не аутентифицированы
        {% endif %}
    </div>
    <a href="{% url 'category_list' %}" class="back-button">Назад к категориям</a>
    <div class="container">
        <h2>Темы в категории: {{ category.name }}</h2>
        <ul>
            {% for thread in threads %}
                <li>
                    <a href="{% url 'post_list' thread.id %}" class="button">{{ thread.title }}</a>
                    <p>Автор: {{ thread.created_by.username }} | Дата: {{ thread.created_at }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
