<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Заказ успешно оформлен</title>
    <link rel="stylesheet" href="{% static 'shop/scc/styles.css' %}">
</head>
<body>
    <h1>Спасибо за ваш заказ!</h1>
    <p>Ваш заказ был успешно оформлен и находится в обработке. Ожидайте уведомления на вашу почту.</p>
    <p>Номер вашего заказа: {{ order.id }}</p>
    <a href="{% url 'category-list' %}">Вернуться к категориям</a>
    <a href="{% url 'cart-detail' %}">Перейти в корзину</a>
</body>
</html>
